@import url('https://fonts.cdnfonts.com/css/ramadan');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ramadan', sans-serif;
}

:root{
    --black: #333;
    --white: #fff;
}

.dark{
    --black: #fff;
    --white: #333;
}

header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
}

.Logo{
    position: relative;
    display: inline-flex;
}

.Togglebar{
    display: flex;
}

.btn{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.btn img{
    font-size: 1.5em;
    color: var(--black);
}

.btn .MenuToggle img{
    font-size: 3em;
}

.btn img:nth-child(2){
    display: none;
}

.btn.active img:nth-child(2){
    display: block;
}

.btn.active img:nth-child(1){
    display: none;
}
